body{
  text-align: center;
  font-size: 20px;
  font-family:"Arial","Meiryo",sans-serif
}
.google-fonts{
  font-family:"Josefin+Sans",sans-serif;
  font-size:40px; 
}
h1{ 
  text-shadow: 1px 1px 2px gray;
  letter-spacing: 1.2em
}
h1{
  border-bottom:solid 3px rgb(115, 115, 114)
}
.skyblue{
  color: skyblue;
}
.pink{
  color:rgb(255, 192, 203) ;
}
.text-bold{
  color: black;
}
#parent p {
  font-weight: bold;
}

